/* Make it Pretty */
header {
  background: rebeccapurple;
  padding: 1em;
  color: white;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 50ch;
}

footer {
  background: grey;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Added media query for portrait screens */
@media (orientation: portrait) {
  main {
    /* Center text */
    text-align: center;
    /* So it never spans the full vw (thought 90% looked okay) */
    max-width: 90vw;
  }
}